<section class="w-full h-full flex flex-col bg-blue-p-100">
  <div class="flex flex-col items-start px-4 pt-6 pb-4 text-blue-p-800 h-fit">
    <h1 class="cursor-pointer m-0">{{ product$().title }}</h1>
    @if (product$().description) {
    <p>{{ product$().description }}</p>
    }
  </div>
  <div class="px-4 w-full bg-white rounded-t-3xl pt-6 h-full flex-grow overflow-y-scroll">
    <h3 class="text-blue-p-800 text-lg font-bold mb-6">Precios</h3>
    <div class="flex flex-col gap-4 h-full">
      @for (price of product$().prices; track $index) {
      <div class="bg-white rounded-lg shadow-md p-4 border border-blue-p-100">
        <div class="flex justify-between items-center">
          <span class="text-gray-500 text-xs capitalize">{{ price.date | date:'dd MMM yyyy' }}</span>
          <span class="text-lg font-semibold text-gray-700">{{ price.store }}</span>
        </div>

        <span class="text-xl font-semibold text-gray-800">{{ price.brand }}</span>

        <div class="flex justify-between items-end">
          <div class="flex flex-col">
            <span class="text-gray-600 mt-2">{{ price.packaging.quantity }} {{ price.packaging.unit }}</span>
            <span class="text-2xl font-bold text-gray-900">$ {{ price.value | number:'1.2-2' }}</span>
          </div>
          <div class="flex gap-2 items-center">
            <span class="text-gray-500 text-sm">PU:</span>
            <span class="text-xl font-semibold text-gray-900">
              ${{ price.packaging.quantity ? (price.value / price.packaging.quantity  | number:'1.2-2') : '-' }}{{ '/' + price.packaging.unit }}
            </span>
          </div>
        </div>
      </div>

      } @empty {
        <button type="button" class="flex justify-center items-center gap-2 bg-blue-p-500 rounded-lg text-white font-bold py-4" (click)="redirectTo()"><i class="lni lni-circle-plus"></i>Agregar</button>
      }
    </div>

    <div class="w-full h-24"></div>
  </div>
</section>
