<div class="w-full flex justify-end">
  <button type="button" (click)="isOpen = !isOpen" cdkOverlayOrigin #menu="cdkOverlayOrigin"
    class="w-12 h-12 rounded-full bg-primary-default shadow-md flex justify-center items-center active:animate-rotation-reverse">
    @if (!isOpen) { <i class="lni lni-menu text-xl font-bold text-white"></i> }
    @else { <i class="lni lni-close text-xl font-bold text-white"></i> }
  </button>
</div>

<ng-template cdkPortal cdkConnectedOverlay [cdkConnectedOverlayOrigin]="menu" [cdkConnectedOverlayOpen]="isOpen">
  <div class="flex flex-col w-fit bg-white rounded-full p-4 space-y-6 shadow-md mb-4 animate-spongy">
    <button type="button" class=""><i class="lni lni-home"></i></button>
    <button type="button" class=""><i class="lni lni-user"></i></button>
    <button type="button" class=""><i class="lni lni-heart"></i></button>
    <button type="button" class=""><i class="lni lni-plus"></i></button>
  </div>
</ng-template>
