@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import '@angular/cdk/overlay-prebuilt.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Nunito', sans-serif;
  }
  body {
    @apply max-h-fit;
    height: 100vh;
  }

  h1 {
    @apply font-bold text-2xl mb-4;
  }
  h3 {
    @apply font-bold text-lg mb-2;
  }

  input[type='text'],
  input[type='password'],
  input[type='email'] {
    @apply rounded-xl h-12 border-none w-full;
  }

  textarea {
    @apply rounded-xl border-none w-full;
  }

  /* ::-webkit-resizer {
    border: 2px solid red;
    outline: 2px solid yellow;
  } */
}

@layer components {
  .form {
    @apply w-full h-full px-6 flex flex-col justify-center gap-7;
  }
}
