<h1>Productos</h1>
<div class="flex flex-col gap-2">
  @for (item of products; track $index) {
    <div class="rounded-md shadow-md h-16 p-4 flex items-center justify-between bg-yellow-default">
      <h3>{{ item.title + ' ' + $index }}</h3>
      <i class="lni lni-chevron-right font-bold"></i>
    </div>
  } @empty {
    <div class="flex flex-col justify-center items-center">
      <img src="images/undraw_Insert_re_s97w.png" alt="insert product img" width="250">
      <p class="w-full text-center">Agrega un producto</p>
    </div>
  }
</div>
