<h1>Productos</h1>
<div class="flex flex-col gap-3">
  @for (item of products$(); track $index) {
    <div [routerLink]="['/product', item.id]" class="rounded-md h-16 p-4 flex items-center justify-between bg-yellow-default border cursor-pointer">
      <div class="flex flex-row gap-4 items-center">
        <!-- <div class="w-10 h-10 rounded-full bg-pink-100"></div> -->
        <div class="flex flex-col">
          <span class="text-lg font-semibold">{{ item.title }}</span>
          <span class="text-sm text-slate-500">{{ item.brand }}</span>
      </div>
      </div>
      <i class="lni lni-chevron-right font-bold"></i>
    </div>
  } @empty {
    <div class="flex flex-col justify-center items-center">
      <img src="images/undraw_Insert_re_s97w.png" alt="insert product img" width="250">
      <p class="w-full text-center">Agrega un producto</p>
    </div>
  }
</div>
